[submodule "Engine/external/glm"]
	path = Engine/external/glm
	url = https://github.com/pxt-engine/glm
[submodule "Engine/external/glfw"]
	path = Engine/external/glfw
	url = https://github.com/pxt-engine/glfw
[submodule "Engine/external/tinyobjloader"]
	path = Engine/external/tinyobjloader
	url = https://github.com/pxt-engine/tinyobjloader
[submodule "Engine/external/entt"]
	path = Engine/external/entt
	url = https://github.com/pxt-engine/entt
[submodule "Engine/external/imgui"]
	path = Engine/external/imgui
	url = https://github.com/pxt-engine/imgui
	branch = docking
[submodule "Engine/external/stb"]
	path = Engine/external/stb
	url = https://github.com/pxt-engine/stb
[submodule "Engine/external/tracy"]
	path = Engine/external/tracy
	url = https://github.com/pxt-engine/tracy
[submodule "Engine/external/spdlog"]
	path = Engine/external/spdlog
	url = https://github.com/pxt-engine/spdlog
[submodule "Engine/external/yaml-cpp"]
	path = Engine/external/yaml-cpp
	url = https://github.com/pxt-engine/yaml-cpp
